.cart_order{
    background-color: rgb(231, 229, 229);
    margin: 5px 0 15px 0;
}
.goods_img{
    float: left;

}
.order_list{
    width: 98%;
    height: 200px;
    border:  silver 1px solid;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    Box-shadow:0 8px 2px -2px  silver
}
.OrderDetail {
    margin-top: 95px;
  }

  .btnOrderDetail {
    font-size: small;
    width: 160px;
    float: right;
    margin-right: 40px;
    background-color: transparent;
    border: 0;
  }
