.headerImg{
  width: 100%;
}

.title_Header{
  text-align: center;
  font-size: 35px;
  border: 1px solid black;
}
.insertCart{
  position: sticky;
  top:100px;
  border: 1px solid ;
  bottom: 0;
}

.content{
  height: 100%;
  background-color: aqua;
}
