.btnOtherList{
    width: 200px;
    height: 100px;
    background-color: rgb(255, 255, 47);
    border-radius: 5px;
    // font-size: 15px;
    // text-align: center;
}

.cart_order{
    background-color: rgb(231, 229, 229);
    margin: 5px 0 15px 0;
}
.goods_img{
    margin:35px 25px 25px 25px;
    float: left;
    
}