.index {
  flex-direction: column;
  width: 100%;
}
.loginWechat{
  background-image: url("../../images/becomeVip.jpg");
  background-size: 740px 580px;
  background-color:lavender;
}
.activity-area{
  background-image: url("../../images/bossRecommed.jpg");
  background-size: 740px 200px;
}
