.topView{
    padding: 100px 50px;
    background-color: #FAFBFC;
    text-align: center;
    line-height: 60px;
}
.btnOtherList{
    width: 200px;
    height: 100px;
    background-color: rgb(255, 255, 47);
    border-radius: 5px;
    margin-top: 60px;
    border-radius: 30px;
    width: 300px;
}