.content{
  height: 500px;
  background-color: azure;
}

.cart_hist{
  width: 100%;
  // background-color: aqua ;
}
.shop_list{
  height: 200px;
  width: 100%;
  background-color: beige;
  margin: 20px auto 20px;
}

.Money{
  width: 200px;
  float: right;
  color: red;
  font-size: 35px;
}
.tradeHeader{
  border-bottom:1px solid black;
  font-size: 25px;
}
